body {
	font-family: sans-serif;
	background-color: #ffffff;
	text-align: center;
}

canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.file-upload {
	margin: 0 auto;
	padding: 13% 0;
	border-radius: 10px;
	border: solid 2px #f6f7fa;
	background-color: #f6f7fa;
	display: flex;
}

.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #1fb264;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #15824b;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.file-upload-btn:hover {
	background: #1aa059;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}

.file-upload-btn:active {
	border: 0;
	transition: all 0.2s ease;
}

.file-upload-content1 {
	display: none;
	margin: 0 auto;
}
.file-upload-content2 {
	display: none;
	margin: 0 auto;
}

.file-upload-input1 {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.file-upload-input2 {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.image-upload-wrap1 {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	object-fit: contain;
	border-radius: 5px;
}
.image-upload-wrap1:active {
	background-color: #a9d0f5;
	transition: all 0.3s ease;
}

.image-upload-wrap2 {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	object-fit: contain;
	border-radius: 5px;
}
.image-upload-wrap2:active {
	background-color: #a9d0f5;
	transition: all 0.3s ease;
}

.image-dropping,
.image-upload-wrap:hover {
	background-color: #1fb264;
	border: 4px solid #ffffff;
}

.image-title-wrap {
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	color: #15824b;
	font-family: NanumSquareR;
	font-size: 1.5rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	margin: 0 auto;
}

.file-upload-image1 {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	/*padding: 20px;*/
}
.file-upload-image2 {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	/*padding: 20px;*/
}

.remove-image {
	/*width: 200px;
	margin: 0;
	border: solid 0.5px #bdbdbd;
	padding: 7px;
	border-radius: 4px;
	font-weight: 52;*/

	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.remove-image:active {
	background-color: #a9d0f5;
	transition: all 0.3s ease;
}

.nav-distance {
	padding: 0.5% 15%;
	border-bottom: 2px solid #424242;
}

.navbar-light .navbar-brand .bg-light {
	font-family: NanumSquareR;
	line-height: 1.68;
	text-align: left;
}

.title {
	font-family: NanumSquareR;
	line-height: 1.67;
	text-align: center;
	color: #35465d;
}

.subtitle {
	font-family: NanumSquareR;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
}

body {margin: 10px}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
} 
.filebox {display:inline-block; margin-right: 10px;}


.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
